body {
  width: full;
  height: full;
}

.content {
  color: red;

  padding: 50px;
  max-width: 600px;
}
.content p {
  margin-top: 2px;
}

.container {
  display: flex;
  justify-content: center;

  background-color: rgb(221, 184, 167);
}

.profile {
  margin-top: 50px;
  height: 200px;
  border-radius: 10px;
}
.content > h1 {
  font-size: xx-large;
}
